.layout{
  display: grid;
  gap: 1em;
  grid-auto-columns: 1fr;
  grid-auto-rows: repeat(3, 1fr);
  grid-template-areas: 
  'one one one'
  'two three five'
  'two four five'
  'two four five';
}
.topNavbar{
  grid-area: one;
}
.sideNavigation{
  grid-area: two;
}
.watchList{
  grid-area: three;
}
.mainBox{
  grid-area: four;
}
.asideBox{
  grid-area: five;
}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
use this to create a spinning loader

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

